<html>
<body>
<head>
  <title>Chess data</title>
  
</head>

<body>

<h1>Chess data</h1>

<div style="background-color:bisque; width:25%;">
<br>
<p>&nbsp; Provide player's first and last name and date limits:</p>
<form style="margin:15px;margin-top:10px;" action="index.ejs" method="GET">
<label for="first_name">First name:</label>
<input name="first_name">
<br><br>
<label for="last_name">Last name:</label>
<input name="last_name">
<br><br>
<label for="first_day">Start date:</label>
<input name="first_day">
<br><br>
<label for="last_day">End date:</label>
<input name="last_day">
<br><br>
<label for="password">Password:</label>
<input type="password" name="password">
<br><br>
<button type="submit">Submit</button>
</form>
&nbsp;
</div>
<div id = "affichage"></div>


<% for (let k in data2) { %>
  <% { %>
    <ul>
     <li>Match <%= data2[k] %></li>
    </ul> 
  <%
   }};%>


</body>
</html>
